/* This is version 1.0 */
h1 {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* This is version 1.2.1 */
p {
    font-size: 20px;
    transition: all 0.3ms;
}

p:hover {
    color: red;
}

/* git stash test (git stash --include-untracked) */
footer {
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
}
